// Base styles for the container
.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Center vertically
  background: transparent; // Light background color
}

.password-form-container {
  background: rgba(35, 40, 45, 0.8); // White background for the form
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; // Limit max width to 400px
  text-align: center;
}

.form-header {
  font-size: 28px;
  font-weight: bold;
  color: #3498db; // Use a blue color for the header
  margin-bottom: 20px;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 20px; // Add spacing between the form fields
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555; // Darker color for labels
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  color: #3498db;
}

.input-field {
  padding: 12px 12px 12px 40px; // Add space for the icon
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #3498db; // Focus effect with blue color
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  color:#555;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  .button-icon {
    margin-right: 10px; // Space between icon and text
  }

  &:disabled {
    background-color: #abc5e7; // Light disabled state
  }

  &:hover {
    background-color: #2980b9; // Darker blue when hovered
  }
}

.success-message {
  color: #2ecc71;
  font-size: 16px;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
